<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Лика Вал - Эксклюзивные подарки из керамики мастер-классы и курсы лепки</title>

    <!-- SEO Meta Tags -->
    <meta name="description" content="Лика Вал предлагает эксклюзивные подарки из керамики, курсы лепки из глины и мастер-классы в Петах-Тикве.">
    <meta name="keywords" content="Лика Вал, эксклюзивные подарки из керамики, курсы лепки из глины, мастер-классы керамики">
    <meta name="author" content="Лика Вал">

    <!-- Open Graph Meta Tags (Facebook, LinkedIn) -->
    <meta property="og:title" content="Лика Вал - Эксклюзивные подарки из керамики и курсы лепки">
    <meta property="og:description" content="Лика Вал предлагает эксклюзивные подарки из керамики, курсы лепки из глины и мастер-классы в Петах-Тикве.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.likaval.com">
    <meta property="og:image" content="https://www.likaval.com/images/likaval-og-image.jpg">
    <meta property="og:site_name" content="Лика Вал - Керамика и мастер-классы">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Лика Вал - Эксклюзивные подарки из керамики и курсы лепки">
    <meta name="twitter:description" content="Лика Вал предлагает эксклюзивные подарки из керамики, курсы лепки из глины и мастер-классы в Петах-Тикве.">
    <meta name="twitter:image" content="https://www.likaval.com/images/likaval-og-image.jpg">
    <meta name="twitter:site" content="@yourtwitterhandle">

    <!-- Pinterest Meta Tags -->
    <meta name="pinterest-rich-pin" content="true">
    <meta property="og:image" content="https://www.likaval.com/images/likaval-og-image.jpg">

    <!-- Schema.org for Google+ -->
    <meta itemprop="name" content="Лика Вал - Эксклюзивные подарки из керамики мастерклассы и курсы лепки">
    <meta itemprop="description" content="Лика Вал предлагает эксклюзивные подарки из керамики, курсы лепки из глины и мастер-классы в Петах-Тикве.">
    <meta itemprop="image" content="https://www.likaval.com/images/likaval-og-image.jpg">



    <!-- Favicon -->
    <link rel="icon" href="https://www.likaval.com/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="https://www.likaval.com/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="https://www.likaval.com/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://www.likaval.com/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://www.likaval.com/images/favicon-16x16.png">
    <link rel="manifest" href="https://www.likaval.com/images/site.webmanifest">


    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Pinterest Widget Script -->
    <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
    <style>
        body {
            padding-top: 56px;
        }
        .blog-header {
            padding: 2rem 1rem;
            text-align: center;
        }
        .blog-main {
            padding: 1.5rem;
        }
        .blog-footer {
            padding: 2rem 1rem;
            text-align: center;
        }
    </style>


</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#post1">Мастер-классы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#post2">Кружки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#shop">Магазин</a>
                </li>

            </ul>
        </div>
    </nav>

    <!-- Blog Header -->
    <header class="blog-header">
        <div class="container">
            <h1 class="blog-title">Керамика от Лика Вал - подарки, мастер-классы и кружки</h1>
	    <p class="lead blog-description">Добро пожаловать в мир керамики от <strong>Лики Вал</strong> <br>
            <strong>Лика Вал</strong> - известный мастер керамики в Израиле, чьи работы восхищают и вдохновляют.
        <br>В мастерской в городе Петах-Тикве вы найдете эксклюзивные изделия из керамики, созданные с любовью и мастерством.</p>
	    <p><strong>Лика Вал</strong> - это имя, которое ассоциируется с высоким качеством и уникальным дизайном.
	    <br>С годами Лика разработала свой уникальный стиль, который сочетает традиционные техники и современные тенденции.
	    <br>Каждое изделие Лики - это маленький шедевр, который станет украшением любого дома.
	    <br>Звоните или оставьте сообщение на WhatsApp <a href="https://wa.me/972545308681" target="_blank" class="btn btn-success">054-530-8681</a>
	</div>
    </header>

    <!-- Blog Main Content -->
    <main class="blog-main">

        <div class="container">

            <div id="post1" class="blog-post">
                <div class="row">
                    <div class="col-md-6">
                        <!-- Pinterest Pin Embed -->
                        <a data-pin-do="embedPin" href="https://www.pinterest.com/pin/776589529524399357/"></a>
                    </div>
                    <div class="col-md-6">
                        <h2 class="blog-post-title">Мастер-классы</h2>

                        <p><strong>Обучение керамическому искусству</strong></p>
                        <p>Приглашаем взрослых и подростков на мастер-классы по керамике.
                            Наши занятия проходят в небольшой уютной группе до 4 человек, что позволяет уделить внимание каждому участнику.</p>
                        <p><strong>Мастер-классы включают:</strong></p>
                        <ul>
                            <li>Основы работы с глиной</li>
                            <li>Различные техники лепки и декорирования</li>
                            <li>Создание собственных изделий</li>
                        </ul>
                        <p><em>Запишитесь на мастер-класс и откройте для себя мир керамического искусства!
                                <br>Звоните или оставьте сообщение на WhatsApp <a href="https://wa.me/972545308681" target="_blank" class="btn btn-success">054-530-8681</a></em></p>
                    </div>
                </div>
            </div>

            <hr>

            <!-- Blog Post 2 -->
            <div id="post2" class="blog-post">
                <div class="row">
                    <div class="col-md-6">
                        <!-- Pinterest Pin Embed -->
                        <a data-pin-do="embedPin" href="https://www.pinterest.com/pin/776589529524399315/"></a>
                    </div>
                    <div class="col-md-6">
                        <h2 class="blog-post-title">Кружки для взрослых и подростков</h2>
                        <p>Помимо мастер-классов, у нас есть регулярные занятия для взрослых и подростков (с 15 лет).
                            Вы можете присоединиться к нашим группам в удобное для вас время и наслаждаться процессом создания керамических шедевров в дружеской атмосфере.</p>
                        <p>Наши кружки предлагают возможность регулярно заниматься и совершенствовать свое мастерство под руководством мастера керамики Лика Вал.</p>
                        <p><em>Присоединяйтесь к нашим кружкам и окунитесь в мир керамического творчества!
                            <br>Звоните или оставьте сообщение на WhatsApp <a href="https://wa.me/972545308681" target="_blank" class="btn btn-success">054-530-8681</a></em></p>
                    </div>
                </div>
            </div>

            <hr>

            <!-- shop -->
            <div id="shop" class="blog-post">
                <h2 class="blog-post-title">Наш магазин</h2>
                Все керамические товары представленные в магазине - эксклюзивны и ручной работы, т.е произведены в одном экземпляре.
                Уникальность гарантирована.
                <br>Отличный подарок вашим сослуживцам, знакомым, друзьям и родственникам на любой праздник
                <br>Возможно изготовление подарка по вашему заказу (именного) или Вы можете для близкого Вам человека слепить подарок собственными руками

              <br>Звоните или оставьте сообщение на WhatsApp <a href="https://wa.me/972545308681" target="_blank" class="btn btn-success">054-530-8681</a>
              Посетите нашу страницу в <a href="https://www.pinterest.com/adelinavalik/" target="_blank" class="btn btn-primary">
                        Pinterest</a> там вы найдете дополнительные подарки
                <br>
                <hr>


                <!-- Pinterest Pin Embed -->
                <a data-pin-do="embedPin" href="https://www.pinterest.com/pin/776589529524857129/"></a>
                <a data-pin-do="embedPin" href="https://www.pinterest.com/pin/776589529524857082/"></a>
                <a data-pin-do="embedPin" href="https://www.pinterest.com/pin/776589529524857055/"></a>
                <a data-pin-do="embedPin" href="https://www.pinterest.com/pin/776589529524857006/"></a>
                <br>
                <a data-pin-do="embedPin" href="https://www.pinterest.com/pin/776589529524751787/"></a>
                <a data-pin-do="embedPin" href="https://www.pinterest.com/pin/776589529524751738/"></a>
                <a data-pin-do="embedPin" href="https://www.pinterest.com/pin/776589529524751646/"></a>
                <a data-pin-do="embedPin" href="https://www.pinterest.com/pin/776589529524751539/"></a>
                <br>
                <a data-pin-do="embedPin" href="https://www.pinterest.com/pin/776589529524682718/"></a>
                <a data-pin-do="embedPin" href="https://www.pinterest.com/pin/776589529524722279/"></a>
                <a data-pin-do="embedPin" href="https://www.pinterest.com/pin/776589529524655608/"></a>
                <a data-pin-do="embedPin" href="https://www.pinterest.com/pin/776589529524665141/"></a>
                <br>
                <a data-pin-do="embedPin" href="https://www.pinterest.com/pin/776589529524655999/"></a>
                <a data-pin-do="embedPin" href="https://www.pinterest.com/pin/776589529524655746/"></a>
                <a data-pin-do="embedPin" href="https://www.pinterest.com/pin/776589529524655549/"></a>
                <a data-pin-do="embedPin" href="https://www.pinterest.com/pin/776589529524536666/"></a>
                <br>
                <a data-pin-do="embedPin" href="https://www.pinterest.com/pin/776589529524434300/"></a>
                <a data-pin-do="embedPin" href="https://www.pinterest.com/pin/776589529524434227/"></a>
                <a data-pin-do="embedPin" href="https://www.pinterest.com/pin/776589529524379851/"></a>
                <a data-pin-do="embedPin" href="https://www.pinterest.com/pin/776589529524446243/"></a>
                <br>
                <a data-pin-do="embedPin" href="https://www.pinterest.com/pin/776589529524506045/"></a>
                <a data-pin-do="embedPin" href="https://www.pinterest.com/pin/776589529524505750/"></a>
                <a data-pin-do="embedPin" href="https://www.pinterest.com/pin/776589529524505248/"></a>
                <a data-pin-do="embedPin" href="https://www.pinterest.com/pin/776589529524446243/"></a>
                <br>
                <a data-pin-do="embedPin" href="https://www.pinterest.com/pin/776589529524399104/"></a>
                <a data-pin-do="embedPin" href="https://www.pinterest.com/pin/776589529524399051/"></a>
                <a data-pin-do="embedPin" href="https://www.pinterest.com/pin/776589529524379749/"></a>
                <a data-pin-do="embedPin" href="https://www.pinterest.com/pin/776589529524368339/"></a>
                <br>
                <a data-pin-do="embedPin" href="https://www.pinterest.com/pin/776589529524399493/"></a>
                <a data-pin-do="embedPin" href="https://www.pinterest.com/pin/776589529524399554/"></a>
                <a data-pin-do="embedPin" href="https://www.pinterest.com/pin/776589529524368246/"></a>
                <a data-pin-do="embedPin" href="https://www.pinterest.com/pin/776589529524372201/"></a>
            </div>





	    </div>
    </main>

    <!-- Blog Footer -->
    <footer class="blog-footer">
        <div class="container">
            <p>Лика Вал</p>
                <div class="col-md-12 text-center">
                    <a href="https://www.pinterest.com/adelinavalik/" target="_blank" class="btn btn-primary">
                        Посетите нашу страницу в Pinterest
                    </a>
                </div>
            <p>
                <a href="#">Back to top</a>
            </p>
        </div>
    </footer>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    </body>
    </html>
